<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Clientes</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/"> <img alt="BarganhaLeilao"
					src="/images/LogoBarganha.png" height="35" width="50">
				</a>

			</div>

			<ul class="nav nav-tabs">

				<li sec:authorize="isAnonymous()" class="presentation"><a
					href="/cadastro/cliente">Cadastro de Cliente</a></li>
				<li sec:authorize="isAuthenticated()" class="presentation"><a
					href="/cadastroObjeto/novo">Cadastro de Objetos</a></li>
				<li class="presentation  "><a href="/produto/pesquisa">Pesquisa</a></li>

				<li sec:authorize="isAnonymous()" class="presentation navbar-right"><a
					href="/login">login</a></li>
				<li sec:authorize="isAuthenticated()"
					class="presentation navbar-right"><a href="/logout">log
						out</a></li>
				<li sec:authorize="isAuthenticated()"
					class="presentation navbar-right"><a href="/objetos/cliente">seus
						objetos</a></li>

			</ul>
		</div>
	</nav>

	<form class="form-horizontal" method="POST" action="/cadastro/cliente">
		<div class="alert alert-sucess" th:if="${!#strings.isEmpty(mensagem)}">
			<span th:text="${mensagem}">Cliente cadastrado com sucesso!</span>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h1 class="panel-title">Cadastro de Clientes</h1>
			</div>

			<div class="panel-body">
				<div class="form-group">
					<label for="usuario" class="col-sm-1 control-label">Usuário</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="usuario"
							name="usuario" />
					</div>
				</div>
				<div class="form-group">
					<label for="nome" class="col-sm-1 control-label">Nome</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="nome" name="nome" />
					</div>
				</div>
				<div class="form-group">
					<label for="email" class="col-sm-1 control-label">Email</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="email" name="email" />
					</div>
				</div>
				<div class="form-group">
					<label for="celular" class="col-sm-1 control-label">Celular</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="celular"
							name="celular" />
					</div>
				</div>
				<div class="form-group">
					<label for="endereco" class="col-sm-1 control-label">Endereço</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="endereco"
							name="endereco" />
					</div>
				</div>
				<div class="form-group">
					<label for="cpf" class="col-sm-1 control-label">CPF</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="cpf" name="cpf" />
					</div>
				</div>
				<div class="form-group">
					<label for="senha" class="col-sm-1 control-label">Senha</label>
					<div class="col-sm-2">
						<input type="password" class="form-control" id="senha"
							name="senha" />
					</div>
				</div>
				<div class="form-group">
					<label for="confirmarsenha" class="col-sm-1 control-label">Confirmação
						de Senha</label>
					<div class="col-sm-2">
						<input type="password" class="form-control" id="confirmarsenha"
							name="confirmarsenha" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-1 col-sm-10">
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>

			</div>
		</div>
	</form>
	<script src="/js/jquery-3.6.0.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/senha.js"></script>
</body>
</html>